@page
@model AboutModel
@{
    ViewData["Title"] = "书籍统计信息";
}

<h2>书籍统计信息</h2>
<table>
    <tr>
        <th>
            出版社

        </th>
        <th>
            书籍数量

        </th>
    </tr>
    @foreach (var item in Model.BookGroup)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Publish)
            </td>
            <td align="right">
                @item.BooksCount
            </td>

        </tr>
    }
</table>
